body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#screen,
#btn-clear,
#btn-delete,
.calc-btn {
  border: 2px solid black;
  border-radius: 7px;
}

#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(189, 189, 189);
  gap: 10px;
  width: 450px;
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 10px;
}

#screen {
  background-color: white;
  width: 400px;
  margin-top: 20px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  height: 120px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#screen span {
  padding-right: 15px;
  padding-bottom: 15px;
  font-size: 40px;
}

#clear-delete-container {
  display: flex;
  gap: 10px;
  align-content: center;
  justify-content: center;
  margin-top: 10px;
}

#btn-clear,
#btn-delete {
  width: 193px;
  text-align: center;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#btn-clear {
  background-color: rgb(255, 160, 160);
}

#btn-delete {
  background-color: rgb(160, 160, 255);
}

#btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.calc-btn {
  background-color: white;
  width: 89px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#credits {
  position: absolute;
  bottom: 10px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(87, 87, 255);
}

#credits a {
  text-decoration: none;
  color: inherit;
}

#credits a img {
  position: relative;
  bottom: -8px;
}
