body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 98vh;
  background-color: #00ffc0;
}

#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(17, 17, 17);
  gap: 10px;
  width: 450px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: black 3px 3px 12px;
}

#screen,
#btn-clear,
#btn-delete,
.calc-btn {
  border: 2px solid black;
  border-radius: 7px;
}

#screen {
  display: flex;
  flex-direction: column;
  background-color: rgb(49, 49, 49);
  width: 400px;
  margin-top: 20px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  height: 120px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#top-value {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-top: 5px;
  font-size: 20px;
  color: rgb(212, 212, 212);
}

#bottom-value {
  padding-right: 15px;
  padding-bottom: 15px;
  font-size: 40px;
  color: rgb(212, 212, 212);
}

#btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

#btn-clear,
#btn-delete {
  color: black;
  text-align: center;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#btn-clear {
  background-color: rgb(255, 124, 124);
}

#btn-clear:hover {
  background-color: rgb(255, 81, 81);
}

#btn-clear:active {
  background-color: rgb(255, 0, 0);
}

#btn-delete {
  background-color: rgb(93, 93, 255);
}

#btn-delete:hover {
  background-color: rgb(31, 31, 255);
}

#btn-delete:active {
  background-color: rgb(15, 15, 255);
}

.calc-btn {
  background-color: rgb(71, 71, 71);
  width: 89px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgb(212, 212, 212);
}

.calc-btn:hover {
  background-color: rgb(27, 27, 27);
}

.calc-btn:active {
  background-color: rgb(10, 10, 10);
}

.calc-btn#btn-modulo:hover {
  background-color: #3e1010;
}
.calc-btn#btn-modulo:active {
  background-color: #2b0b0b;
}

.calc-btn#btn-divide:hover {
  background-color: rgb(160, 160, 0);
}

.calc-btn#btn-divide:active {
  background-color: rgb(92, 92, 0);
}

.calc-btn#btn-multiply:hover {
  background-color: rgb(1, 124, 1);
}

.calc-btn#btn-multiply:active {
  background-color: rgb(0, 70, 0);
}

.calc-btn#btn-subtract:hover {
  background-color: red;
}

.calc-btn#btn-subtract:active {
  background-color: rgb(122, 0, 0);
}

.calc-btn#btn-sum:hover {
  background-color: blue;
}

.calc-btn#btn-sum:active {
  background-color: rgb(0, 0, 121);
}

.calc-btn#btn-equals {
  width: 192px;
}

#credits {
  position: absolute;
  bottom: 5px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
}

#credits a {
  text-decoration: none;
  color: inherit;
}

#credits a img {
  position: relative;
  bottom: -8px;
}
